@page "/About/{id}"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Library.Pages.AboutModel
@{
    ViewData["Title"] = "About Book";
}

<section class="main-section">
    <div class="container">

        <div class="section-title">
            <h2>About Book</h2>
        </div>


        <div class="row">
            <div class="col-lg-9 pt-4 pt-lg-0 content fst-italic">
                <h3>"@Model.Book.Title"</h3>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><strong>Author:</strong> @Model.Book.Author</li>
                            <li><strong>Genre:</strong> @Model.Book.Genre</li>
                            <li><strong>Publisher:</strong> @Model.Book.Publisher</li>
                            <li><strong>Publish Year:</strong> @Model.Book.Year</li>
                            <li><strong>Page Count:</strong> @Model.Book.PageCount</li>
                        </ul>
                    </div>
                </div>
                <p><strong>Description:</strong> @Model.Book.Description</p>
            </div>

            <div class="row col-lg-3 justify-content-center">
                <div class="col-lg-8">
                    <a asp-page="/EditBook" asp-route-id="@Model.Book.Id" class="btn btn-submit w-100 mb-2">Edit Book</a>
                    <a asp-page="/DeleteBook" asp-route-id="@Model.Book.Id" class="btn btn-submit w-100">Delete Book</a>
                </div>
            </div>
        </div>

    </div>
</section>