@model IndexViewModel

<div class="row">
    <div class="col-lg-6">
        <label for="name">Name:</label>
        <input class="form-control form-control-sm" type="text" id="name" name="Filter.Name" value="@Model.Filter.Name" />
    </div>
    <div class="col-lg-6">
        <label for="category">Category:</label>
        <input class="form-control form-control-sm" type="text" id="category" name="Filter.Category" value="@Model.Filter.Category" />
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <label for="brand">Brand:</label>
        <input class="form-control form-control-sm" type="text" id="brand" name="Filter.Brand" value="@Model.Filter.Brand" />
    </div>

    <div class="col-lg-3">
        <label for="minStockQuantity">Min Stock Quantity:</label>
        <input class="form-control form-control-sm" type="number" id="minStockQuantity" name="Filter.MinStockQuantity" value="@Model.Filter.MinStockQuantity" />
    </div>
    <div class="col-lg-3">
        <label for="maxStockQuantity">Max Stock Quantity:</label>
        <input class="form-control form-control-sm" type="number" id="maxStockQuantity" name="Filter.MaxStockQuantity" value="@Model.Filter.MaxStockQuantity" />
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <label for="minYearOfManufacture">Min Year of Manufacture:</label>
        <input class="form-control form-control-sm" type="number" id="minYearOfManufacture" name="Filter.MinYearOfManufacture" value="@Model.Filter.MinYearOfManufacture" />
    </div>
    <div class="col-lg-6">
        <label for="maxYearOfManufacture">Max Year of Manufacture:</label>
        <input class="form-control form-control-sm" type="number" id="maxYearOfManufacture" name="Filter.MaxYearOfManufacture" value="@Model.Filter.MaxYearOfManufacture" />
    </div>
    <div class="col-lg-6">
        <label for="minPrice">Min Price:</label>
        <input class="form-control form-control-sm" type="number" id="minPrice" name="Filter.MinPrice" value="@Model.Filter.MinPrice" />
    </div>
    <div class="col-lg-6">
        <label for="maxPrice">Max Price:</label>
        <input class="form-control form-control-sm" type="number" id="maxPrice" name="Filter.MaxPrice" value="@Model.Filter.MaxPrice" />
    </div>
</div>



<div class="row">
    <div class="col-lg-6">
        <label for="sortBy">Sort By:</label>
        @Html.DropDownListFor(m => m.Filter.SortBy, Model.SortByOptions, new {@class = "form-control text-center form-control-sm"})
    </div>
    <div class="col-lg-6 text-center">
        <label for="sortDirection">Sort Direction:</label>
        <div class="row">
            <div class="col-lg-6">
                <input type="radio" id="sortAscending" name="Filter.IsSortAscending" value="true" @(Model.Filter.IsSortAscending ? "checked" : "") />
                <label for="sortAscending">Ascending</label>
            </div>
            <div class="col-lg-6">
                <input type="radio" id="sortDescending" name="Filter.IsSortAscending" value="false" @(Model.Filter.IsSortAscending ? "" : "checked") />
                <label for="sortDescending">Descending</label>
            </div>
        </div>
    </div>
</div>